@use '../abstracts/index' as *;

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

    .container-logo {
        background-color: $white;
        padding: 0.5rem;
        width: calc(100vw - 1rem);
        box-shadow: $shadow-default;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.2rem;
        position: relative; //pour la <- page

        img {
            max-height: 36px;
        }
    }

    .container-location {
        background-color: $grey;
        width: 100%;
        text-align: center;
        box-shadow: $shadow-default;
        margin-bottom: 0.5rem;

        .location-form {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: 0.5rem 0;
            margin: 0;

            i {
                color: $darkgrey;
            }

            input {
                border: none;
                background: transparent;
                text-align: center;
                font-size: 1rem;
                color: $darkgrey;
                outline: none;
                width: 150px;
            }
        }
    }
}