@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  background-color: #F6F6F6;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100dvw;
}
header .container-logo {
  background-color: white;
  padding: 0.5rem;
  width: calc(100dvw - 1rem);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.2rem;
  position: relative;
}
header .container-logo img {
  max-height: 36px;
}
header .container-location {
  background-color: #EAEAEA;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem;
}
header .container-location p {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}
.info h1 {
  font-size: 24px;
}
.info p {
  font-size: 18px;
}

.fonctionnement {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100dvw;
}
.fonctionnement h2 {
  display: flex;
  justify-self: flex-start;
  margin: 1rem;
}
.fonctionnement ol {
  list-style: none;
  padding: 2rem;
  margin: 0;
}
.fonctionnement ol li {
  max-width: 335px;
  display: flex;
  align-items: center;
  gap: 2rem;
  background: #F6F6F6;
  padding: 1rem 0 1rem 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 1rem;
}
.fonctionnement ol li .number {
  position: absolute;
  left: -0.75rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: #9356DC;
  color: white;
  font-size: 14px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
}
.fonctionnement ol li i {
  color: #353535;
}
.fonctionnement ol li i.fa-store {
  color: #9356DC;
}

.restaurant {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.restaurant .card-resto {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  text-decoration: none;
  color: inherit;
  margin-bottom: 1rem;
}
.restaurant .card-resto .container-img {
  width: 100%;
  height: 150px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  overflow: hidden;
}
.restaurant .card-resto .container-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.restaurant .card-resto .new-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 5px;
  padding: 0.3rem 0.6rem;
}
.restaurant .card-resto .card-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurant .card-resto .card-data .card-text {
  margin: 1rem;
}
.restaurant .card-resto .card-data .card-favorite {
  margin: 1rem;
  width: 22px;
  height: 21px;
  align-self: center;
  justify-self: center;
  font-size: 22px;
}
.restaurant .card-resto .card-data h3 {
  margin: 0;
  padding-bottom: 0.5rem;
}
.restaurant .card-resto .card-data p {
  margin: 0;
}

button {
  height: 50px;
  width: 218px;
  border-radius: 50px;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  color: white;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #353535;
  color: white;
  padding: 1rem;
  margin-top: 3rem;
}
footer p {
  font-family: "Shrikhand";
  margin-bottom: 1rem;
  font-size: 18px;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li {
  margin-bottom: 0.5rem;
}
footer ul li a {
  color: white;
  text-decoration: none;
}
footer ul li a i.fa-solid {
  font-size: 12px;
  padding-right: 0.5rem;
}
footer ul li a i.fa-solid.fa-handshake {
  rotate: -45deg;
  padding-right: 0.4rem;
  translate: -10% -50%;
  font-size: 10px;
}

.header-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.header-page .back-arrow {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #353535;
  font-size: 20px;
  text-decoration: none;
  z-index: 2;
}
.header-page .back-arrow i {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}
.header-page .container-logo img {
  max-height: 36px;
  z-index: 1;
}

.container-page-img {
  width: 100%;
  height: 275px;
  overflow: hidden;
}
.container-page-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.container-menu {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #F6F6F6;
  margin-top: -3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-menu h1 {
  font-family: "Shrikhand", cursive;
}
.container-menu h2 {
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  margin: 1rem;
}
.container-menu h2::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-top: 5px;
}
.container-menu .restaurant-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container-menu .restaurant-name h1 {
  margin: 1rem;
  font-size: 28px;
  font-weight: 400;
}
.container-menu .restaurant-name i {
  margin: 1rem;
  width: 22px;
  height: 21px;
  align-self: center;
  justify-self: center;
  font-size: 22px;
}
.container-menu .list-menu .container-plat {
  border-radius: 20px;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.container-menu .list-menu .container-plat h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}
.container-menu .list-menu .container-plat p {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
}
.container-menu .list-menu .container-plat span {
  align-self: flex-end;
  justify-self: flex-end;
  font-weight: 700;
  font-size: 15px;
}
.container-menu .list-menu .container-plat .data-plat {
  display: flex;
  flex-direction: column;
}
.container-menu .container-button {
  margin-top: 2rem;
  align-self: center;
}/*# sourceMappingURL=style.css.map */