$grey : #EAEAEA;
$background : #F6F6F6;
$background-grey : #F3F3F3;
$darkgrey : #353535;
$lightgreen : #99E2D0;
$green : #008766;
$lightblue : #89C8FA;
$blue : #003A68;
$pink: #FF79DA;
$purple : #9356DC;
$white : white;
$black : #000000;

$shadow-default: 0 4px 4px rgba(0, 0, 0, 0.1);