@use '../abstracts/index' as *;

@keyframes fade-slide-in {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.list-menu {
    opacity: 0;
    animation: fade-slide-in 0.8s ease forwards;

    &:nth-of-type(1) {
        animation-delay: 0.4s;
    }

    &:nth-of-type(2) {
        animation-delay: 0.8s;
    }

    &:nth-of-type(3) {
        animation-delay: 1.2s;
    }
}