@use '../abstracts/index' as *;

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: hideLoader 3s forwards;
    gap: 15px;


    .loader-inner {
        display: flex;
        gap: 10px;

        div {
            width: 15px;
            height: 15px;
            background: linear-gradient(45deg, $purple, $pink);
            border-radius: 50%;
            animation: bounce 0.6s infinite alternate;

            &:nth-child(2) {
                animation-delay: 0.2s;
            }

            &:nth-child(3) {
                animation-delay: 0.4s;
            }
        }
    }

    p {
        font-family: $font-shrikhand;
        font-size: 24px;
        color: $purple;
        margin-top: 10px;
    }
}

.loader-text {
    font-size: 1.2rem;
    color: $darkgrey;
    margin-top: 10px;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes hideLoader {

    0%,
    80% {
        opacity: 1;
        pointer-events: all;
    }

    100% {
        opacity: 0;
        pointer-events: none;
    }
}

// Afficher le contenu après le loader
body.home>*:not(.loader) {
    opacity: 0;
    animation: showContent 3s forwards;
    animation-delay: 1s; // commence après le loader
}

@keyframes showContent {
    to {
        opacity: 1;
    }
}