@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Variable couleur
$grey : #EAEAEA;
$background : #F6F6F6;
$background-grey : #F3F3F3;
$darkgrey : #353535;
$lightgreen : #99E2D0;
$green : #008766;
$lightblue : #89C8FA;
$blue : #003A68;
$pink: #FF79DA;
$purple : #9356DC;
$white : white;

$shadow-default: 0 4px 4px rgba(0, 0, 0, 0.1);


body {
    background-color: $background;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100dvw;

    .container-logo {
        background-color: $white;
        padding: 0.5rem;
        width: calc(100dvw - 1rem);
        box-shadow: $shadow-default;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.2rem;
        position: relative; //pour la <- page

        img {
            max-height: 36px;
        }
    }

    .container-location {
        background-color: $grey;
        width: 100%;
        text-align: center;
        box-shadow: $shadow-default;
        margin-bottom: 0.5rem;

        p {
            display: flex;
            text-align: center;
            justify-content: center;
            gap: 1rem;
        }
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }
}

.fonctionnement {
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100dvw;

    h2 {
        display: flex;
        justify-self: flex-start;
        margin: 1rem;
    }

    ol {
        list-style: none;
        padding: 2rem;
        margin: 0;

        li {
            max-width: 335px;
            display: flex;
            align-items: center;
            gap: 2rem;
            background: $background;
            padding: 1rem 0 1rem 2rem;
            border-radius: 20px;
            box-shadow: $shadow-default;
            position: relative;
            margin-bottom: 1rem;

            .number {
                position: absolute;
                left: -0.75rem;
                top: 50%;
                transform: translateY(-50%);
                background-color: $purple;
                color: white;
                font-size: 14px;
                width: 24px;
                height: 24px;
                line-height: 24px;
                border-radius: 50%;
                text-align: center;
                font-weight: bold;
            }

            i {
                color: $darkgrey;

                &.fa-store {
                    color: $purple;
                }
            }
        }
    }
}

.restaurant {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    .card-resto {
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background-color: $white;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        text-decoration: none;
        color: inherit;
        margin-bottom: 1rem;

        .container-img {
            width: 100%;
            height: 150px;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            overflow: hidden;


            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }

        .new-tag {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: $lightgreen;
            color: $green;
            border-radius: 5px;
            padding: 0.3rem 0.6rem;
        }

        .card-data {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .card-text {
                margin: 1rem;
            }

            .card-favorite {
                margin: 1rem;
                width: 22px;
                height: 21px;
                align-self: center;
                justify-self: center;
                font-size: 22px;
            }

            h3 {
                margin: 0;
                padding-bottom: 0.5rem;
            }

            p {
                margin: 0;
            }

        }

    }
}

button {
    height: 50px;
    width: 218px;
    border-radius: 50px;
    background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
    color: $white;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: $darkgrey;
    color: $white;
    padding: 1rem;
    margin-top: 3rem;

    p {
        font-family: "Shrikhand";
        margin-bottom: 1rem;
        font-size: 18px;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 0.5rem;

            a {
                color: $white;
                text-decoration: none;

                i.fa-solid {
                    font-size: 12px;
                    padding-right: 0.5rem;
                }

                i.fa-solid.fa-handshake {
                    rotate: -45deg;
                    padding-right: 0.4rem;
                    translate: -10% -50%;
                    font-size: 10px;
                }
            }
        }
    }
}

// Page restaurant 

.header-page {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: $white;
    box-shadow: $shadow-default;

    .back-arrow {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        color: $darkgrey;
        font-size: 20px;
        text-decoration: none;
        z-index: 2;

        i {
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
        }
    }

    .container-logo img {
        max-height: 36px;
        z-index: 1;
    }
}

.container-page-img {
    width: 100%;
    height: 275px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

.container-menu {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: $background;
    margin-top: -3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-family: "Shrikhand", cursive;
    }

    h2 {
        //soulignage vert 
        position: relative;
        font-size: 16px;
        text-transform: uppercase;
        margin: 1rem;

        &::after {
            content: "";
            display: block;
            width: 40px;
            height: 3px;
            background-color: $lightgreen;
            margin-top: 5px;
        }
    }

    .restaurant-name {
        display: flex;
        flex-direction: row;
        justify-content: center;

        h1 {
            margin: 1rem;
            font-size: 28px;
            font-weight: 400;
        }

        i {
            margin: 1rem;
            width: 22px;
            height: 21px;
            align-self: center;
            justify-self: center;
            font-size: 22px;
        }
    }

    .list-menu {
        .container-plat {
            border-radius: 20px;
            background-color: white;
            margin: 1rem;
            padding: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            box-shadow: $shadow-default;

            h3 {
                margin: 0;
                font-size: 18px;
                font-weight: 500;
            }

            p {
                margin: 0;
                font-size: 15px;
                font-weight: 300;
            }

            span {
                align-self: flex-end;
                justify-self: flex-end;
                font-weight: 700;
                font-size: 15px;
            }

            .data-plat {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .container-button {
        margin-top: 2rem;
        align-self: center;
    }
}